.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(221, 218, 16);
}

.App-link {
  color: #dfb80c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-films-show {
  display: flex;
  flex-direction: row; 
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;

}

@media (max-width: 800px) {
  .main-films-show {
    flex-direction: column;
  }
}

.full-film-detail {
  font-style: italic;
  font-size: 25px;
  font-weight: 400;
  color: #282c34;
  text-decoration: #282c34;
  margin: 10px;
  padding: 2px;

}
.full-character-detail {
  font-style: italic;
  font-size: 25px;
  font-weight: 400;
  color: #282c34;
  text-decoration: #282c34;
  margin: 10px;
  padding: 2px;

}
.nav-films {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 24px;
  color: #fafa04;
  font-weight: 600;
  padding: 2px;
}

.nav-films:hover {
  background-color:rgb(12, 12, 11);
  color: rgb(243, 227, 10);
}

